html{
  background-image: linear-gradient(white, rgba(255, 255, 0, 0.418));
  background-repeat: no-repeat;
  background-size:cover;
  height: auto;
}

@media screen and (max-width: 480px){
  html{
    background-image: linear-gradient(white, rgba(255, 255, 0, 0.418));
  background-repeat: no-repeat;
  background-size:cover;
  height: auto;
      width: 480px;
  }
}

